# Logs
react-ts-basics/logs
react-ts-basics/*.log
react-ts-basics/npm-debug.log*
react-ts-basics/yarn-debug.log*
react-ts-basics/yarn-error.log*
react-ts-basics/pnpm-debug.log*
react-ts-basics/lerna-debug.log*

react-ts-basics/node_modules
react-ts-basics/dist
react-ts-basics/dist-ssr
react-ts-basics/*.local

# Editor directories and files
react-ts-basics/.vscode/*
react-ts-basics/!.vscode/extensions.json
react-ts-basics/.idea
react-ts-basics/.DS_Store
react-ts-basics/*.suo
react-ts-basics/*.ntvs*
react-ts-basics/*.njsproj
react-ts-basics/*.sln
react-ts-basics/*.sw?

# Logs
react-ts-basics2/logs
react-ts-basics2/*.log
react-ts-basics2/npm-debug.log*
react-ts-basics2/yarn-debug.log*
react-ts-basics2/yarn-error.log*
react-ts-basics2/pnpm-debug.log*
react-ts-basics2/lerna-debug.log*

react-ts-basics2/node_modules
react-ts-basics2/dist
react-ts-basics2/dist-ssr
react-ts-basics2/*.local

# Editor directories and files
react-ts-basics2/.vscode/*
react-ts-basics2/!.vscode/extensions.json
react-ts-basics2/.idea
react-ts-basics2/.DS_Store
react-ts-basics2/*.suo
react-ts-basics2/*.ntvs*
react-ts-basics2/*.njsproj
react-ts-basics2/*.sln
react-ts-basics2/*.sw?

# Logs
fetch-project/logs
fetch-project/*.log
fetch-project/npm-debug.log*
fetch-project/yarn-debug.log*
fetch-project/yarn-error.log*
fetch-project/pnpm-debug.log*
fetch-project/lerna-debug.log*

fetch-project/node_modules
fetch-project/dist
fetch-project/dist-ssr
fetch-project/*.local

# Editor directories and files
fetch-project/.vscode/*
fetch-project/!.vscode/extensions.json
fetch-project/.idea
fetch-project/.DS_Store
fetch-project/*.suo
fetch-project/*.ntvs*
fetch-project/*.njsproj
fetch-project/*.sln
fetch-project/*.sw?

# Logs
timer-project/logs
timer-project/*.log
timer-project/npm-debug.log*
timer-project/yarn-debug.log*
timer-project/yarn-error.log*
timer-project/pnpm-debug.log*
timer-project/lerna-debug.log*

timer-project/node_modules
timer-project/dist
timer-project/dist-ssr
timer-project/*.local

# Editor directories and files
timer-project/.vscode/*
timer-project/!.vscode/extensions.json
timer-project/.idea
timer-project/.DS_Store
timer-project/*.suo
timer-project/*.ntvs*
timer-project/*.njsproj
timer-project/*.sln
timer-project/*.sw?


# Logs
redux-shop/logs
redux-shop/*.log
redux-shop/npm-debug.log*
redux-shop/yarn-debug.log*
redux-shop/yarn-error.log*
redux-shop/pnpm-debug.log*
redux-shop/lerna-debug.log*

redux-shop/node_modules
redux-shop/dist
redux-shop/dist-ssr
redux-shop/*.local

# Editor directories and files
redux-shop/.vscode/*
redux-shop/!.vscode/extensions.json
redux-shop/.idea
redux-shop/.DS_Store
redux-shop/*.suo
redux-shop/*.ntvs*
redux-shop/*.njsproj
redux-shop/*.sln
redux-shop/*.sw?


# Logs
final-project/logs
final-project/*.log
final-project/npm-debug.log*
final-project/yarn-debug.log*
final-project/yarn-error.log*
final-project/pnpm-debug.log*
final-project/lerna-debug.log*

final-project/node_modules
final-project/dist
final-project/dist-ssr
final-project/*.local

# Editor directories and files
final-project/.vscode/*
final-project/!.vscode/extensions.json
final-project/.idea
final-project/.DS_Store
final-project/*.suo
final-project/*.ntvs*
final-project/*.njsproj
final-project/*.sln
final-project/*.sw?


node_modules
.vscode
